# dependencies
node_modules/

# local env files
.env
.env.local

# Netlify / Vercel
.netlify/
.vercel/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store
# Local Netlify folder
.netlify
.env
